
@media (min-width: 1024px) {
    .temples-world {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-button {
        display: none;
    }
}


@media (min-width: 768px) and (max-width:1023px){
    .temples-world {
        grid-template-columns: repeat(2, 1fr); 
    }
    .menu-button {
        display: none;
    }
}



@media (max-width: 767px) {

    header nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9); 
        z-index: 1000;
    }

    header nav.show {
        display: flex; 
    }

 
    header nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

   
    .menu-button {
        display: block; 
        font-size: 30px;
        background: none;
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1001; 
    }
}